{% extends 'trails_web/base.html' %}

{% block title %}Edit {{ trail.title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-3">Edit Trail: {{ trail.title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
    <a href="{% url 'trails_web:trail_detail' trail.id %}" class="btn btn-secondary mt-3">Back to Trail</a>
</div>
{% endblock %}